@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*
font-family: 'Poppins', sans-serif;
*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: url(/imagens/flat-design-forest-landscape_23-2149155031.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.cabeçalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.cabeçalho .logo {
    user-select: none;
    font-size: 2em;
    color: white;
    font-weight: 900;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: white;
    margin-left: 30px;
    font-weight: 900;
    text-decoration: none;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}

.navigation .login-cima {
    width: 130px;
    height: 50px;
    font-size: 1.1em;
    margin-left: 30px;
    border-radius: 6px;
    color: white;
    border: 1px solid white;
    background: transparent;
    font-weight: 900;
    transition: .5s;
}

.navigation .login-cima:hover {
    background: white;
    border: 1px solid #162938;
    color: #162938;
    transition: .5s;
}

.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 440px;
    height: 440px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px #162938 .5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: none;
    transition: transform .5s aese, height .2s aese;
}

.conteudo.active-btn {
    display: flex;

}

.conteudo.active {
    height: 520px;
} 


.form-box { 
    width: 100%;
    padding: 40px;
}

.conteudo .form-box.login {
    transition: transform .3s ease;
    transform: translateX(0);
}

.conteudo.active .form-box.login {
    
    transition: none;
    transform: translateX(-450px);
}

.conteudo .form-box.register {
    position: absolute;
    
    transition: none;
    transform: translateX(400px);
}

.conteudo.active .form-box.register {
    transition: transform .18s ease;
    transform: translate(0);
}

.icon-close {
    position: absolute;
    top: 0;
    right: 0;
    height: 45px;
    width: 45px;
    color: white;
    font-size: 2em;
    background: #162938;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 19px 0 20px;
    cursor: pointer;
    transition: .5s;
    z-index: 1;
}


.form-box h2 {
    font-size: 2em;
    font-weight: bolder;
    text-align: center;
}

.caixa-login {
    position: relative;
    width: 87%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px;
}

.caixa-login label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.caixa-login input:focus~label,
.caixa-login input:valid~label {
    top: -5px;
}

.caixa-login input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162938;
  font-weight: 600;
  padding: 0 35px 0 5px;      
}

.caixa-login .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

.remember {
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember label input {
    accent-color: #162938;
    margin-right: 3px;
    
}

.remember a {
    color: #162938;
    text-decoration: none;
}

.remember a:hover {
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    font-size: 1em;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px
}

.login-register p a {
    text-decoration: none;
    color: #162938;
}

.login-register a:hover {
    text-decoration: underline;
}

.register-login {
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px
}

.register-login p a {
    text-decoration: none;
    color: #162938;
}

.register-login a:hover {
    text-decoration: underline;
}

footer {
        
        position: absolute; 
        bottom: 0;
        left: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        background: transparent;
        color: white;
}

footer a {
    user-select: none;
    position: relative;
    font-size: 1.1em;
    color: white;
    font-weight: 900;
    text-decoration: none;
}

footer a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

footer a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}